 .Box6{
    border: solid 5px rgb(21, 162, 243);
    text-align: center;
    margin: 70px 15px 30px 15px ;
    padding: 30px;
}
.Box5 {
    border: solid 5px rgb(163, 31, 175);
    margin: 20% 25%;
    width: 50%;
    padding: 70px 70px 40px 55px;
}
.Box4 {
    border: solid 5px rgb(9, 238, 219);
    margin: 6% 30% 7% 25%;
}